

.resp-nav{
  display: none;
}


@media (max-width: 900px) {
  .main-nav{
    display: none;
  } 
  .resp-nav{
    z-index: 10;
    display: block;
    position:sticky;
    top:auto;
  }
}